<template>
  <div>
    <div class="bg-gray-200">
      <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[700px]">
            <div class="-mx-3 flex flex-wrap mb-5 ml-0">
              <h2 class="text-2xl font-semibold leading-tight">{{ formTitle( 'Product', $route.params.product ) }}</h2>
            </div>

            <div class="mb-5">
              <label
                for="guest"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Title
              </label>
              <input
                v-model="product.title"
                type="text"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div class="-mx-3 flex flex-wrap">
              <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                  <label
                    for="fName"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Product ID
                  </label>
                  <input
                    disabled
                    :value="product.id"
                    type="text"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>
              <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                  <label
                    for="lName"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Price
                  </label>
                  <input
                    v-model="product.price"
                    type="text"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>
            </div>

            <div class="mb-5">
              <label
                for="guest"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Description
              </label>
              <textarea
                v-model="product.description"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div class="-mx-3 flex flex-wrap">
              <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                  <label
                    for="fName"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Category
                  </label>
                  <select
                    v-model="product.category.id"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                    <option v-for="category in categories" :key="category.id" :value="category.id" :selected="category.id == product.category.id && !isNew ? 'true' : 'false'">
                      {{ category.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div>
              <button
                v-if="!isNew"
                @click="saveProduct"
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
              >
                Save
              </button>
              <button
                v-if="isNew"
                @click="createProduct"
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
              >
                Create
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HelperMixin from '@/mixins/HelperMixin';

export default {
  name: 'ProductPage',
  mixins: [HelperMixin],
  data() {
    return {
      product: {
            "id": null,
            "title": "",
            "price": 0,
            "description": "",
            "category": {
              "id": 5,
              "name": "Others",
              "image": "https://placeimg.com/640/480/any"
            },
            "images": [
              "https://placeimg.com/640/480/any",
            ]
      },
      categories: [],
      isNew: false,
    }
  },
  methods: {
    async fetchProduct( id ) {
      this.product = await this.$axios.$get('https://api.escuelajs.co/api/v1/products/' + id)
    },

    async fetchCategories() {
      this.categories = await this.$axios.$get('https://api.escuelajs.co/api/v1/categories')
    },

    createProduct() {
      this.$axios.post('https://api.escuelajs.co/api/v1/products/', {
        title: this.product.title,
        price: this.product.price,
        description: this.product.description,
        categoryId: this.product.category.id,
        images: ["https://placeimg.com/640/480/any"]
      })
      .then( (response) => {
        console.log('The product was created succesfully');
        this.$router.push({path: "/products"})
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    saveProduct() {
      this.$axios.put('https://api.escuelajs.co/api/v1/products/' + this.product.id, {
        title: this.product.title,
        price: parseInt(this.product.price),
        description: this.product.description,
        categoryId: parseInt(this.product.category.id),
        image: this.product.images
      })
      .then( (response) => {
        console.log('The product was updated succesfully');
        this.$router.push({path: "/products"})
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  },

  mounted() {
    if(this.$route.params.product === 'new') this.isNew = true
    this.fetchProduct(this.$route.params.product)
    this.fetchCategories()
  },
}
</script>
