<template>
  <div>
    <div class="bg-gray-200">
      <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
            <div class="-mx-3 flex flex-wrap mb-5 ml-0">
              <h2 class="text-2xl font-semibold leading-tight">{{ formTitle( 'Category', $route.params.category ) }}</h2>
            </div>
            <div class="-mx-3 flex flex-wrap">
              <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                  <label
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Category ID
                  </label>
                  <input
                    disabled
                    :value="category.id"
                    type="text"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>
              <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                  <label
                    for="lName"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Name
                  </label>
                  <input
                    v-model="category.name"
                    type="text"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>
            </div>

            <div>
              <button
                v-if="!isNew"
                @click="saveCategory"
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
              >
                Save
              </button>
              <button
                v-if="isNew"
                @click="createCategory"
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
              >
                Create
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HelperMixin from '@/mixins/HelperMixin';

export default {
  name: 'CategoryPage',

  mixins: [HelperMixin],

  data() {
    return {
      category: {
        "id": null,
        "name": "",
      },
      isNew: false,
    }
  },

  methods: {
    async fetchCategory( id ) {
      this.category = await this.$axios.$get('https://api.escuelajs.co/api/v1/categories/' + id)
    },

    createCategory() {
      this.$axios.post('https://api.escuelajs.co/api/v1/categories/', {
        name: this.category.name,
        image: "https://placeimg.com/640/480/any"
      })
      .then( (response) => {
        console.log('The category was created succesfully');
        this.$router.push({path: "/categories"})
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    saveCategory() {
      this.$axios.put('https://api.escuelajs.co/api/v1/categories/' + this.category.id, {
        name: this.category.name
      })
      .then( (response) => {
        console.log('The category was updated succesfully');
        this.$router.push({path: "/categories"})
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  },

  mounted() {
    if(this.$route.params.category === 'new') this.isNew = true
    this.fetchCategory(this.$route.params.category)
  },

}
</script>
