<template>
  <div class="container bg-gray-200 grid place-items-center h-screen">
    <div class="object-center max-w-max ">
      <p>This is the home page of our Nuxt.js app</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
