<template>
  <div>
      <body class="antialiased font-sans bg-gray-200">
      <div class="container mx-auto px-4 sm:px-8">
          <div class="py-8">
              <div>
                  <h2 class="text-2xl font-semibold leading-tight">Products</h2>
              </div>
              <div class="my-2 flex sm:flex-row flex-col">
                  <div class="flex flex-row mb-1 sm:mb-0">
                      <div class="relative">
                          <select
                              class="appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-l border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
                              v-model="selectedCategory"
                              >
                              <option>All</option>
                              <option v-for="category in categories" :key="category.id">{{ category.name }}</option>
                          </select>
                          <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                              </svg>
                          </div>
                      </div>
                  </div>
                  <div class="block relative">
                      <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                          <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                              <path
                                  d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                              </path>
                          </svg>
                      </span>
                      <input placeholder="Search" class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                  </div>
                  <NuxtLink
                    :to="getNewProductSlug()"
                    class="text-sm bg-blue-300 hover:bg-blue-400 text-gray-800 font-semibold py-2 px-4 mr-1 ml-3">
                    New
                  </NuxtLink>
              </div>
              <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                  <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                      <table class="min-w-full leading-normal">
                          <thead>
                              <tr>
                                  <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      Name
                                  </th>
                                  <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      ID
                                  </th>
                                  <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      Price
                                  </th>
                                  <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      Category
                                  </th>
                                  <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      Actions
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="product in filteredProducts" :key="product.id">
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <div class="flex items-center">
                                          <div class="flex-shrink-0 w-10 h-10">
                                              <img class="w-full h-full rounded-full"
                                                  :src="product.images[0]"
                                                  alt="" />
                                          </div>
                                          <div class="ml-3">
                                              <p class="text-gray-900 whitespace-no-wrap">
                                                  {{ product.title }}
                                              </p>
                                          </div>
                                      </div>
                                  </td>
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap">{{ product.id }}</p>
                                  </td>
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          {{ product.price }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <span
                                          class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                          <span aria-hidden
                                              class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                          <span class="relative">{{ product.category.name | toCurrency }}</span>
                                      </span>
                                  </td>
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="inline-flex mt-2 xs:mt-0">
                                      <NuxtLink
                                          :to="getProductSlug(product.id)"
                                          class="text-sm bg-blue-300 hover:bg-blue-400 text-gray-800 font-semibold py-2 px-4 mr-1">
                                          View
                                      </NuxtLink>
                                      <div
                                          v-on:click="deleteProduct(product.id)"
                                          class="text-sm bg-red-300 hover:bg-red-400 text-gray-800 font-semibold py-2 px-4">
                                          Delete
                                      </div>
                                    </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <div
                          class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                          <span class="text-xs xs:text-sm text-gray-900">
                              Showing {{ offset + 1 }} to {{ offset + 20 }} products
                          </span>
                          <div class="inline-flex mt-2 xs:mt-0">
                              <button
                                  v-on:click="decreaseOffset"
                                  class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">
                                  Prev
                              </button>
                              <button
                                  v-on:click="increaseOffset"
                                  class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">
                                  Next
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
  </div>
</template>

<script>
export default {
  name: 'ProductsPage',
  data() {
    return {
      products: [],
      categories: [],
      offset: 0,
      selectedCategory: "All",
    }
  },
  methods: {
    async fetchProducts() {
      this.products = await this.$axios.$get('https://api.escuelajs.co/api/v1/products?offset=' + this.offset +'&limit=20')
    },

    async fetchCategories() {
      this.categories = await this.$axios.$get('https://api.escuelajs.co/api/v1/categories')
    },

    deleteProduct( id ) {
      this.$axios.delete('https://api.escuelajs.co/api/v1/products/' + id)
      .then( (response) => {
        console.log('The product was deleted succesfully')
        this.$nuxt.refresh()
      })
    },

    getProductSlug(id) {
      return 'product/' + id
    },

    getNewProductSlug(id) {
      return 'product/new'
    },

    decreaseOffset() {
      this.offset -= 20
      if(this.offset < 0 ) this.offset = 0
      this.fetchProducts()
    },

    increaseOffset() {
      this.offset += 20
      this.fetchProducts()
    },
  },

  computed: {
    filteredProducts() {
      if(this.selectedCategory === 'All')
        return this.products
      else {
        return this.products.filter(product => {
          return product.category.name === this.selectedCategory
        })
      }
    }
  },

  mounted() {
    this.fetchProducts()
    this.fetchCategories()
  },
}
</script>
d
